@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #171717;
  color: rgba(255, 255, 255, 0.87);
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100%;
}

@supports (padding: env(safe-area-inset-bottom)) {
  .safe-area-inset-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pb-safe {
    padding-bottom: calc(env(safe-area-inset-bottom) + 4rem + 1rem);
  }
}

*:focus {
  outline: none;
}
